@import url('https://fonts.googleapis.com/css2?family=Belanosima:wght@400;600;700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,800;1,700;1,800&display=swap');
* {
 padding: 0;
 margin: 0;
 box-sizing: border-box;
}
body {
 font-family: 'Belanosima', sans-serif;
 font-family: 'Poppins', sans-serif;
 width: 100%;
 min-height: 100vh;
 background: rgb(240, 240, 240);
}

.wrapper {
 width: 95%;
 margin: 2em auto;
 padding: 2em;
 position: relative;
 border-top-left-radius: 20px;
 border-top-right-radius: 20px;
 border-bottom-left-radius: 20px;
 border-bottom-right-radius: 60px;
 background: white;
 /* height: 100vh; */
}

.input-age {
 position: relative;
 display: grid;
 grid-template-columns: 1fr 1fr 1fr;
 column-gap: 1em;
 padding-bottom: 2em;
 border-bottom: 1px solid rgb(240, 240, 240);
}
.fill-in {
 width: 100%;
 height: 50px;
 font-size: 1.1rem;
 border: 2px solid grey;
 border-radius: 5px;
 outline: 0;
 border-color: rgb(240, 240, 240);
 font-size: .9rem;
 font-weight: bold;
 padding: 1em;
}
input:placeholder-shown {
 font-weight: bold;
 padding-left: 5px;
}

.icon-arrow {
 width: 50px;
 background: purple;
 border-radius: 50%;
 position: absolute;
 top: 115px;
 left: 150px;
 padding: 10px;
}

.outcome {
  margin-top: 3em;
}
.result-outcome p {
 font-size: 3rem;
 font-weight: 700;
}

.no-results {
 color: purple;
}

.error1,
.error2,
.error3 {
 font-weight: 400;
 font-size: .7rem;
 color: red;
}

@media (min-width: 600px) {
 
.wrapper {
 width: 40%;
 margin: 4em auto;
 background: white;
 padding: 2em;
 position: relative;
 border-top-left-radius: 20px;
 border-top-right-radius: 20px;
 border-bottom-left-radius: 20px;
 border-bottom-right-radius: 120px;
}
.input-age {
 display: grid;
 grid-template-columns: 1fr 1fr 1fr 1fr;
 column-gap: 1em;
 padding-bottom: 2em;
 border-bottom: 1px solid rgb(240, 240, 240);
}
.fill-in {
 width: 100%;
 height: 50px;
 font-size: 1.1rem;
 border: 2px solid grey;
 border-radius: 5px;
 outline: 0;
 border-color: rgb(240, 240, 240);
 font-size: .9rem;
 font-weight: bold;
}
.input-name {
 margin-bottom: .5em;
}
input:placeholder-shown {
 font-weight: bold;
 padding-left: 5px;
}

.icon-arrow {
 width: 50px;
 background: purple;
 border-radius: 50%;
 position: absolute;
 top: 135px;
 right: 5%;
 padding: 10px;
}
.result-outcome p{
 font-size: 5rem;
 font-weight: 700;
}
.no-results {
 color: purple;
}

.error1, .error2, .error3 {
 font-weight: 400;
 font-size: .55rem;
 color: red;
 /* display: none; */
}

}
